.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 400px 100px 100px;
    grid-gap: 10px;
   
    grid-template-areas: 'header header header'
                         'nav project project'
                         'nav footer footer';
   }
   
.header { grid-area: header }
.nav { grid-area: nav }
.project { grid-area: project }
.footer { grid-area: footer }

@media screen and (max-width: 768px) {
    .container {
      grid-template-areas: 'header header header'
                           'project project project'
                           'nav nav nav'
                           'footer footer footer';
    }
  }

body {
    font-family: "Catamaran", "Open Sans", sans-serif;
}