body {
    background-color: hsla(38, 8%, 81%, 1);
    font-family: "Catamaran", "Open Sans", sans-serif;
}

a {
    color: hsla(195, 83%, 16%, 1);
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    float: left;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-gap: 10px;
   
    grid-template-areas: 'nav main main'
    'nav project project'
    'nav project project';
   }

.container > * {
    background: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .container {
      grid-template-areas: 'nav nav nav'
      'main main main'
      'project project project';
    }
}
   
.nav { grid-area: nav }
.project { grid-area: project }

.nav {
    background-color: hsla(203, 18%, 68%, 1);
}

.contact img {
    max-height: 30px;
  }