$grey:  hsla(38, 8%, 81%, 1);
$lightgrey:  hsla(203, 18%, 68%, 1);
$highlight:  hsla(195, 83%, 16%, 1);
$black: hsla(203, 18%, 5%, 1);
$off-white: hsla(203, 18%, 96%, 1);

$sans-serif: "Catamaran", "Open Sans", sans-serif;